@keyframes bar1-mobile {
    0% {
        width: 0;
        margin-left: 0;
    }
    50%{
        width: 60%;
        margin-left: 0;
    }
    100%{width: 2px;
    margin-left: 60%;}
}

@keyframes bar1-400 {
    0% {
        width: 0;
        margin-left: 0;
    }
    50%{
        width: 220px;
        margin-left: 0;
    }
    100%{width: 2px;
    margin-left: 220px;}
}
@keyframes bar1-1150 {
    0% {
        width: 0;
        margin-left: 0;
    }
    50%{
        width: 400px;
        margin-left: 0;
    }
    100%{width: 2px;
    margin-left: 400px;}
}
@keyframes bar2-mobile {
    0% {
        width: 0;
        margin-left: 0;
    }
    50%{
        width: 50%;
        margin-left: 0;
    }
    100%{width: 2px;
    margin-left: 50%;} 
}
@keyframes bar2-400 {
    0% {
        width: 0;
        margin-left: 0;
    }
    50%{
        width: 180px;
        margin-left: 0;
    }
    100%{width: 2px;
    margin-left: 180px;} 
}
@keyframes bar2-1150 {
    0% {
        width: 0;
        margin-left: 0;
    }
    50%{
        width: 340px;
        margin-left: 0;
    }
    100%{width: 2px;
    margin-left: 340px;} 
}
@keyframes bar3 {
    0% {
        width: 0;
        margin-left: 0;
    }
    50%{
        width: 100%;
        margin-left: 0;
    }
    100%{width: 0;
    margin-left: 100%;} 
} 


@keyframes appear {
    0%{
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes ou {
    from {opacity: 0}
    to{opacity: 1}
}

@keyframes bump {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes rotation {
    from {
      transform: rotate(-360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }